<div class="vh-90" style="margin-top: 5%;">
  <h2>Strona Internetowa jest obecnie rozwijana i nie posiada jeszcze wszystkich docelowych funkcjonalności, ale dane dostarczone przez Ciebie pozwolą nam na jej szybkie rozwinięcie.</h2>
  <h2>Do docelowych funkcjonalności należą: </h2>
  <h2>  - system rekomendacji piw, dzięki któremu nie będziesz musiał się zastanawiać w sklepie jakie piwo wybrać </h2>
  <h2>  - system rozpoznawania etykiet ze zdjęć, dzięki któremu zrobisz po prostu zdjęcie sklepowej półki, a aplikacja sama rozpozna obecne na niej piwa. </h2>
  <h2>  Zachęcamy do intensywnego korzystania z aplikacji 🙂 </h2>
  <br />
  <h2>W razie pytań lub problemów prosimy pisać na <a href="mailto:diplomabeerapp@gmail.com">diplomabeerapp@gmail.com</a></h2>
  <app-footer></app-footer>
</div>

