<div class="vh-90" style="margin-top: 5%;" id="about">
  <h1>O BeerUp</h1>
  Strona Internetowa jest obecnie rozwijana i nie posiada jeszcze wszystkich docelowych funkcjonalności, ale dane dostarczone przez Ciebie pozwolą nam na jej szybkie rozwinięcie.<br>
  Do docelowych funkcjonalności należą:
  <ul>
    <li>system rekomendacji piw, dzięki któremu nie będziesz musiał się zastanawiać w sklepie jakie piwo wybrać</li>
    <li>system rozpoznawania etykiet ze zdjęć, dzięki któremu zrobisz po prostu zdjęcie sklepowej półki, a aplikacja sama rozpozna obecne na niej piwa.</li>
  </ul>
  Zachęcamy do intensywnego korzystania z aplikacji 🙂
  <br />
  <br />
  <h1>Kontakt</h1>
  W razie pytań lub problemów prosimy pisać na <a href="mailto:diplomabeerapp@gmail.com">diplomabeerapp@gmail.com</a>
  <app-footer></app-footer>
</div>

