<h1>Strona Internetowa jest obecnie rozwijana i nie posiada jeszcze wszystkich docelowych funkcjonalności, ale dane dostarczone przez Ciebie pozwolą nam na jej szybkie rozwinięcie.</h1>
<h1>Do docelowych funkcjonalności należą: </h1>
<h1>  - system rekomendacji piw, dzięki któremu nie będziesz musiał się zastanawiać w sklepie jakie piwo wybrać </h1>
<h1>  - system rozpoznawania etykiet ze zdjęć, dzięki któremu zrobisz po prostu zdjęcie sklepowej półki a aplikacja sama rozpozna obecne na niej piwa. </h1>
<h1>  Zachęcamy do intensywnego korzystania z aplikacji 🙂 </h1>
