<div style="margin-top: 50px">
  <div class="footer navblock navbar flex-shrink-0 navbar-expand" >
    <a href='https://play.google.com/store/apps/details?id=com.beerup.beerapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="GPDownload" alt='pobierz z Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/pl_badge_web_generic.png'/></a>
    <ul class="navPc">
      <li>
        <a class="link" [routerLink]="['/about']" >Info</a>
      </li>

      <li>
        <a class="link" [routerLink]="['/privacy']" >Polityka Prywatności</a>
      </li>
    </ul>
  </div>
</div>
