.form-group {
    border-style: none;
}

.form {
    border-width: 1px;
    border-radius: 5px;
    width:400px;
    height:50px;
    font-size:20px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.btn {
    border-width: 1px;
    border-radius: 5px;
    border-color:burlywood;
    width:200px;
    height:40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    display: block;
    background-color:chocolate;
}

.btn:disabled {
    background-color:coral;
    color:chocolate;
}


.nav {
    display:inline-block;
    text-align:center;
    padding:0;
    margin:0;
    margin-left:60%;
}

.nav li {
    display:inline-block;
    padding:20px;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color:chocolate;
}

.center {
    text-align: center;
}

.navblock {
    padding:0;
    margin:0;
    width:100%;
    border-bottom-style:inset;
    border-color:chocolate;
}

.list { 
    text-align: center;
    list-style-position: inside;
}

.error {
    color: red;
    width: 50%;
    margin-left:auto;
    border-style:inset;
    border-color:red;
    border-width:1px;
    border-radius:5px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:auto;
    font-size: 20px;
}