html {
    width: 100%;
    padding:0;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cameraWrapper {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    width: 100%;
    padding: 0;
    background: #161616;
}

p,h1,h2,h3,li {
  color: floralwhite;
}

hr {
  color: chocolate;
}

h1 {
    padding:20px;
}

.mobile {
    display: none;
}

.webcam-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    height:100%;
}
.mirrored {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    height:100%;
}

.camera {
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    height:100%;
}

.testpiwo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    height:100%;
}

.ratingBox {
    text-align: center;
}

.text {
    font-size: 20px;
    padding:10px;
}

.rating {
    color: chocolate;
    font-size: 35px;
    padding:10px;
}

.form-group {
    border-style: none;
}

.form {
    border-width: 1px;
    border-radius: 5px;
    width:400px;
    height:50px;
    font-size:20px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.btn {
    border-width: 1px;
    border-radius: 5px;
    width:200px;
    height:40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    display: block;
    background-color:chocolate;
    color:white;
}

.btn:disabled {
    background-color:darkgray;
    color:white;
}

.btn:hover {
    background-color:orange;
    color:white;
}

.hover-off:hover {
  background-color:chocolate;
}

.navMobile {
    display: none;
}

.navPc {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 40%;
}

.navPc li {
    display:inline-block;
    padding:20px;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color:chocolate;
}

.link:hover {
    color:brown;
}

.center {
    text-align: center;
}

.navblock {
    padding:0;
    margin:0;
    width:100%;
    border-bottom-style:inset;
    border-color:chocolate;
}

.list {
    text-align: center;
    list-style-position: inside;
}

.error {
    color: red;
    width: 50%;
    margin-left:auto;
    border-style:inset;
    border-color:red;
    border-width:1px;
    border-radius:5px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:auto;
    font-size: 20px;
}

.success {
    text-align: center;
    color: green;
    font-size: 20px;
    padding: 10px;
}

.listed-beer-css{
  width: 85%;
  border-color: chocolate;
  border-width: thin;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-left: 5%;
  margin-left: 5%;
  margin-bottom: 3px;
}

.statistics-beer-css{
  border-color: chocolate;
  border-width: thin;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-left: 5%;
  margin-bottom: 3px;
}

.backbutton-css{
  color: chocolate;
  padding-left: 10%;
  padding-top: 5%;
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke:chocolate;
}

.multiselect-dropdown, .dropdown-btn{
  background-color: #464646;
  color: white;
}

input, .form-control[type="file"] {
  background-color: #464646;
  color: white;
  border-color: #adadad;
}

.main-page-css{
  width: 40%;
  margin-left: 30%;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #606060;
}

::-webkit-scrollbar-thumb:hover {
  background: #a04b14;
}

::-webkit-scrollbar {
  width: 15px;
}



@media only screen and (max-device-width: 1000px){

    .form{
        width: 90%;
        font-size:1.2em;
    }

    .navPc {
        display:none;
    }

    .navMobile {
        display: initial;
    }

    .menuButton {
        border:none;
        background-color: transparent;
        color:chocolate;
        margin-left:90%;
        font-size:1.2em;
        padding:2%;
    }

    .menuItem {
        font-size:1.2em;
    }

    .mobile {
        display: initial;
    }

    .menuContainer {
    }

    .statistics-beer-css, .listed-beer-css{
      width: 96%;
      margin-left: 2%;
    }

  .main-page-css{
    width: 100%;
    margin-left: 0;
  }

  .btn{
    width: 130px
  }

  .row, .flex-column{
    padding-left: 0;
    padding-right: 0;
  }

    }
