<h1 class="center">{{title}}</h1>

<input type="text" id="search" class="form" placeholder="Szukaj" (input)="onSearchChange($event)">

<table class="table center">
  <tr>
    <th>Nazwa</th>
    <th>Browar</th>
    <th>Styl</th>
  </tr>
  <tr *ngFor="let beer of beers">
    <td><a routerLink="./{{beer.beerId}}">{{beer.name}}</a></td>
    <td>{{beer.brewery}}</td>
    <td>{{beer.style}}</td>
  </tr>
</table>

<div style="width: 100%; display: inline-flex; justify-content: center;">
  <button class="btn" *ngIf="pageNumber > 0" (click)="previousPage()">Poprzednia Strona</button>
  <button class="btn" *ngIf="beers.length == pageSize" (click)="nextPage()">Następna Strona</button>
</div>
