
<div class="navblock navbar flex-shrink-0 navbar-expand px-0">

<div class="navMobile">
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu class="menuContainer" #menu="matMenu">
    <button class="menuItem" *ngIf="!logged" [routerLink]="['/login']" mat-menu-item>Logowanie</button>
    <button class="menuItem" *ngIf="!logged" [routerLink]="['/register']" mat-menu-item>Rejestracja</button>
    <button class="menuItem" [routerLink]="['']" mat-menu-item>Strona Główna</button>
    <button class="menuItem" [routerLink]="['/about']" mat-menu-item>Info</button>
    <button class="menuItem" [routerLink]="['/privacy']" mat-menu-item>Polityka Prywatności</button>
    <button class="menuItem" [routerLink]="['/beer-list']" mat-menu-item *ngIf="logged == true">Lista Piw</button>
    <button class="menuItem" *ngIf="logged" (click)="logOut()" mat-menu-item>Wyloguj</button>
    </mat-menu>

</div>

<ul class="navPc">
    <li>
        <a class="link" [routerLink]="['']" >Strona Główna</a>
    </li>

    <li *ngIf="logged == true">
        <a class="link" [routerLink]="['/beer-list']">Lista Piw</a>
    </li>

    <li>
        <a class="link" *ngIf="!logged" [routerLink]="['/login']" >Logowanie</a>
    </li>

    <li>
        <a class="link" *ngIf="!logged" [routerLink]="['/register']" >Rejestracja</a>
    </li>

    <li>
        <a class="link"  *ngIf="logged" (click)="logOut()" >Wyloguj</a>
    </li>
</ul>
</div>
