<div class="vh-90" style="margin-top: 5%;">
  <h2>Użytkownik musi założyć konto z użyciem adresu e-mail by móc używać funkcjonalności aplikacji, e-mail może być wykorzystywany w przyszłości do anonimowych ankiet sprawdzających opinię użytkowników o aplikacji.</h2>
  <h2>Aplikacja zbiera dane w postaci recenzji, tagów i zdjęć, które będą używane jedynie do tworzenia oraz ulepszania algorytmów rozpoznających elementy ze zdjęcia oraz algorytmy rekomendacyjne.</h2>
  <h2>Raz założone konto lub wysłane dane nie mogą zostać usunięte.</h2>
</div>
<app-footer></app-footer>
