mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#main {
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  backdrop-filter: blur(10px);
}
